.header .nav .nav_hide .home {
  color: #ff0000;
}
/*主体内容部分*/
/*第一部分：banner*/
.banner_top {
  height: 930px;
  overflow: hidden;
  position: relative;
}
.banner_top p {
  color: #ffffff;
}
.banner_top .banner_content {
  width: 800px;
  height: 290px;
  margin-top: 20%;
  margin-left: 20%;
}
.banner_top .banner_content .p_title {
  font-size: 60px;
  letter-spacing: 8px;
}
.banner_top .banner_content .p_explain {
  font-size: 24px;
}
.banner_top .banner_content .p_introduce {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.banner_top .banner_content .btn_more {
  background: #ff0000;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
  padding: 0.4% 1.4% 0.4% 1.4%;
}
.banner_top .banner_content .btn_more:hover {
  background: #de0303;
}
.banner_top .slidedown {
  width: 100%;
  font-size: 12px;
  float: left;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  bottom: 50px;
}
.banner_top .slidedown p {
  margin-left: 2px;
  color: #aeaeae;
  margin-top: 4px;
}
.banner_top .btn_slideLR {
  width: 100%;
  float: left;
  margin-top: -200px;
}
.banner_top .btn_slideLR .slideL {
  margin-left: 100px;
}
.banner_top .btn_slideLR .slideR {
  float: right;
  margin-right: 100px;
}
.banner_top .banner {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.banner_top .banner li {
  float: left;
}
.banner_top .banner img {
  width: 100%;
}
/*第二部分：about us*/
/*标题部分，通用*/
.abt_title {
  clear: both;
  text-align: center;
  line-height: 40px;
  margin-bottom: 60px;
}
.abt_title .maintitle_en {
  font-size: 24px;
  margin-bottom: -6px;
}
.abt_title .maintitle_pic {
  margin-bottom: 20px;
}
.abt_title .maintitle_introduce {
  font-size: 12px;
  margin-top: -20px;
}
/*标题部分结束*/
.aboutus {
  height: 600px;
  background: #ffffff;
  padding-top: 60px;
}
.aboutus .abt_con {
  width: 1100px;
  height: 400px;
  margin: auto;
  position: relative;
}
.aboutus .abt_con .abt_con_left {
  width: 278px;
  float: left;
}
.aboutus .abt_con .abt_con_middle {
  width: 600px;
  line-height: 26px;
  height: 370px;
  font-size: 13px;
  margin-left: 320px;
  padding-top: 80px;
}
.aboutus .abt_con .abt_con_middle p {
  margin-top: 20px;
}
.aboutus .abt_con .abt_con_right {
  width: 108px;
  position: absolute;
  right: 0;
  top: 0;
}
.aboutus .abt_con .abt_con_right img {
  margin-top: 60px;
}
.aboutus .abt_con .abt_con_right a {
  width: 90px;
  height: 27px;
  color: #ffffff;
  background: #ff0000;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 27px;
  position: absolute;
  top: 98px;
  right: 52%;
}
.aboutus .abt_con .abt_con_right .abt_btn:hover {
  background: #de0303;
}
/*第三部分：team*/
.team_content {
  height: 510px;
  background: #292a2e;
  position: relative;
}
.team_content .team_box {
  width: 900px;
  margin: auto;
  position: relative;
}
.team_content .team_box .team_arrowleft {
  position: absolute;
  left: -100px;
  top: 255px;
}
.team_content .team_box .team_arrowright {
  position: absolute;
  right: -100px;
  top: 255px;
}
.team_content .team_change {
  width: 900px;
  height: 366px;
  margin: auto;
  overflow: hidden;
}
.team_content .team_change .team_c {
  width: 2700px;
  height: 366px;
  position: relative;
}
.team_content .team_change .team_c .change1 {
  width: 900px;
  height: 366px;
  position: absolute;
  left: 0;
}
.team_content .team_change .team_c .change2 {
  width: 900px;
  height: 366px;
  position: absolute;
  left: 900px;
}
.team_content .team_change .team_c .change3 {
  width: 900px;
  height: 366px;
  position: absolute;
  left: 1800px;
}
.team_content .team_change .team_c .pichead {
  width: 184px;
  position: absolute;
  left: 270px;
  top: 150px;
}
.team_content .team_change .team_c .teamcon {
  width: 410px;
  position: absolute;
  top: 160px;
  left: 490px;
  line-height: 20px;
}
.team_content .team_change .team_c .teamcon .team_title {
  font-size: 20px;
  color: #ff0000;
}
.team_content .team_change .team_c .teamcon .team_title .team_title_en {
  font-size: 13px;
}
.team_content .team_change .team_c .teamcon .team_post {
  font-size: 12px;
  color: #6a6a6a;
  margin-top: 6px;
}
.team_content .team_change .team_c .teamcon .team_explain {
  font-size: 12px;
  margin-top: 14px;
  color: #aeaeae;
  margin-bottom: 30px;
}
.team_content .team_change .team_c .team_btnmore {
  border: solid 1px #ff0000;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 2px;
  padding: 1px 4px 1px 4px;
  position: absolute;
  right: 0;
  bottom: 30px;
}
.team_content .team_change .team_c .team_btnmore:hover {
  border: solid 1px #ff0000;
  background: #ff0000;
  color: #ffffff;
}
/*第四部分：caseshow*/
.caseshow {
  padding-top: 60px;
}
.caseshow .casetitle {
  width: 900px;
  margin: 30px auto;
  padding-bottom: 60px;
}
.caseshow .casetitle .all {
  color: #ff0000;
}
.caseshow .casetitle li a {
  color: #000000;
  float: left;
  margin-left: 66px;
}
.caseshow .casetitle li a:hover {
  color: #ff0000;
}
.caseshow .casephotos {
  clear: both;
  width: 1100px;
  margin: auto;
  margin-bottom: 100px;
}
.caseshow .casephotos img {
  display: block;
}
.caseshow .casephotos img:hover {
  opacity: 0.3;
}
.caseshow .casephotos .check {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
  display: none;
}
.caseshow .pho {
  width: 362.6px;
  float: left;
  background: #000000;
  margin: 2px 2px;
  position: relative;
}
.caseshow .pho img {
  width: 100%;
}
.caseshow .phot {
  width: 362.6px;
  float: left;
  background: #000000;
  margin: 2px 2px;
  position: relative;
  margin-bottom: 100px;
}
.caseshow .phot img {
  width: 100%;
}
/*第五部分：banner_middle*/
.banner_middle {
  height: 300px;
  clear: both;
  text-align: center;
  padding-top: 160px;
  position: relative;
}
.banner_middle .ban_mid_con_cn {
  color: #ffffff;
  font-size: 30px;
}
.banner_middle .ban_mid_con_en {
  color: #ffffff;
  font-size: 13px;
  line-height: 30px;
}
.banner_middle .ban-mid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
/*第六部分：cooparetion*/
.cooperation {
  height: 480px;
}
.cooperation .collaborator {
  clear: both;
  width: 1100px;
  margin: auto;
}
.cooperation .collaborator .coop {
  float: left;
  width: 210px;
  background: #000000;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cooperation .collaborator .coop img {
  width: 100%;
  display: block;
}
.cooperation .abt_title .maintitle_introduce {
  margin-bottom: 60px;
}
/*第七部分：contactus*/
.contactus {
  height: 830px;
}
.contactus .form {
  width: 1100px;
  height: 320px;
  margin: 70px auto;
  margin-top: -30px;
}
.contactus .form .form_group input {
  width: 524px;
  height: 50px;
  border: solid 1px #000000;
  padding: 0 8px;
}
.contactus .form .form_group .email {
  margin-left: 10px;
}
.contactus .form .form_group .message {
  width: 1082px;
  height: 150px;
  border: solid 1px #000000;
  margin-top: 20px;
  padding: 8px 8px;
  overflow: hidden;
  resize: none;
  font-size: 14px;
}
.contactus .form .form_group .submit {
  width: 100%;
  height: 50px;
  background: #242424;
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.contactus .form .form_group .submit:hover {
  background: #de0303;
  border: solid 1px #de0303;
}
.contactus .contact_info {
  width: 1100px;
  height: 120px;
  margin: auto;
  word-break: break-all;
}
.contactus .contact_info dd {
  width: 220px;
  height: 120px;
  float: left;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin-left: 110px;
}
.contactus .stayconnected .info_btn {
  width: 240px;
  margin: auto;
}
.contactus .stayconnected .info_btn a {
  margin-left: 33px;
  margin-top: 30px;
}
.contactus .stayconnected .abt_title {
  margin-bottom: 30px;
  margin-top: 30px;
}
/*页脚部分：footer*/
.foot_top {
  height: 370px;
  background: #242424;
  text-align: center;
}
.foot_top img {
  margin-top: 100px;
}
.foot_menu {
  width: 640px;
  height: 30px;
  margin: 60px auto;
}
.foot_menu li {
  float: left;
  margin-left: 26px;
}
.foot_menu li a {
  color: #ffffff;
  font-size: 14px;
}
.foot_menu li span {
  color: #ff0000;
}
.foot_bottom {
  width: 100%;
  height: 70px;
  background: #1e1e1e;
  text-align: center;
  padding-top: 50px;
}
.foot_bottom p {
  color: #ffffff;
  font-size: 13px;
}
@media screen and (max-width: 1680px) {
  .banner_top .btn_slideLR {
    margin-top: -270px;
  }
  .banner_top {
    height: 800px;
  }
}
@media screen and (max-width: 1600px) {
  .banner_top {
    height: 750px;
  }
}
@media screen and (max-width: 1440px) {
  .banner_top {
    height: 690px;
  }
  .banner_middle {
    height: 210px;
  }
  .ban_mid_con_cn {
    margin-top: -30px;
  }
}
@media screen and (max-width: 1340px) {
  .banner_top {
    height: 640px;
  }
}
@media screen and (max-width: 1220px) {
  .banner_top {
    height: 620px;
  }
  .ban_mid_con_cn {
    margin-top: -50px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Microsoft Yahei";
  -webkit-text-size-adjust: none;
}
img {
  border: none;
}
body {
  width: 100%;
  background: #ffffff;
  min-width: 1220px;
}
/*导航部分*/
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .logo {
  width: 136px;
  height: 80px;
  margin-left: 100px;
  float: left;
}
.header .logo img {
  margin-top: 16px;
  width: 100%;
}
.header .nav {
  width: 850px;
  height: 80px;
  position: absolute;
  right: 86px;
  line-height: 80px;
}
.header .nav .nav_show {
  position: absolute;
  right: 0;
  top: 6px;
}
.header .nav .nav_hide {
  display: none;
}
.header .nav .nav_hide li {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  float: left;
}
.header .nav .nav_hide a {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
}
.header .nav .nav_hide a:hover {
  color: #ff0000;
}
.header .nav .nav_hide .nav_close {
  position: absolute;
  right: 0;
  top: 26px;
}
.main {
  width: 100%;
}
input {
  -webkit-appearance: none;
  /*去除input默认样式*/
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6a6a6a;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6a6a6a;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #6a6a6a;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #6a6a6a;
}
